@media screen and (max-width: 600px) {
    .dews {
        font-size: 1.2em;
    }

    .dewpop {
        width: 50%;
        margin-left: 2%;
     }

     .dew-drag {
         height: 25px;
     }
}

@media screen and (min-width: 601px) {
    .dews {
        font-size: 1.6em;
    }

    .mobile-separator {
        display: none;
    }
}

.dew-list-wrapper {
    font-family: 'Indie Flower', cursive;
}

.dews {
    list-style: none;
}

.dew-completed {
    text-decoration: line-through;
    color: grey;
}

#btnAddNewDew {
    background-color: burlywood;
}

.form-input {
    flex-wrap: wrap;
}

.dew-drag {
    height: 45px;
}

.dewpop {
    width: 95%;
    margin-left: 2.5%;
}
